<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="eol"
            id="org.eclipse.epsilon.lsp.contentType.eol"
            name="EOL Content Type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="evl"
            id="org.eclipse.epsilon.lsp.contentType.evl"
            name="EVL Content Type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="egl"
            id="org.eclipse.epsilon.lsp.contentType.egl"
            name="EGL Content Type"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="egx"
            id="org.eclipse.epsilon.lsp.contentType.egx"
            name="EGX Content Type"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.eol"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.evl"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.egl"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.egx"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.epsilon.lsp.dt.ConnectionProviderSolution"
            id="org.eclipse.epsilon.lsp.server"
            label="Epsilon Language Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.epsilon.lsp.contentType.eol"
            id="org.eclipse.epsilon.lsp.server">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.epsilon.lsp.contentType.evl"
            id="org.eclipse.epsilon.lsp.server">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.epsilon.lsp.contentType.egl"
            id="org.eclipse.epsilon.lsp.server">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.epsilon.lsp.contentType.egx"
            id="org.eclipse.epsilon.lsp.server">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/eol.tmlanguage"
            scopeName="source.epsilon.eol">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.eol"
            scopeName="source.epsilon.eol">
      </scopeNameContentTypeBinding>
      <grammar
            path="syntaxes/evl.tmlanguage"
            scopeName="source.epsilon.evl">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.evl"
            scopeName="source.epsilon.evl">
      </scopeNameContentTypeBinding>
      <grammar
            path="syntaxes/egl.tmlanguage"
            scopeName="source.epsilon.egl">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.egl"
            scopeName="source.epsilon.egl">
      </scopeNameContentTypeBinding>
      <grammar
            path="syntaxes/egx.tmlanguage"
            scopeName="source.epsilon.egx">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.epsilon.lsp.contentType.egx"
            scopeName="source.epsilon.egx">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Epsilon"
            class="org.eclipse.epsilon.lsp.dt.LspNativeTypeClasspathPreferencePage"
            id="Epsilon.LspNativeTypeClasspath"
            name="LSP Native Types">
      </page>
   </extension>
</plugin>
