name: Build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

<<<<<<< HEAD
permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-14, windows-2022]
        jdk: [17]
        include:
          - os: ubuntu-22.04
            jdk: 21
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Install Webkit + GTK bindings
      run: sudo apt update -yq && sudo apt-get install -yq libwebkit2gtk-4.0-dev
      if: runner.os == 'Linux'
    - name: Set up Maven 3.9.5
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1
      with:
        maven-version: 3.9.5
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn --batch-mode -U -T 1C clean install
    - name: Run headless test
      uses: coactions/setup-xvfb@6b00cf1889f4e1d5a48635647013c0508128ee1a
      with:
        run: mvn --batch-mode -f tests/org.eclipse.epsilon.test verify -P plugged
    - name: Full Test Suite
      run: >
        bash plugins/org.eclipse.epsilon.eunit.cmp.emf/download-emf-compare.sh &&
        mvn --batch-mode -f tests/org.eclipse.epsilon.test surefire:test -P unit
    - name: Standalone Maven artifacts
      run: mvn --batch-mode -T 1C -f pom-plain.xml compile
    - name: Upload Log
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: metadataLog
        path: tests/org.eclipse.epsilon.test/target/work/data/.metadata/.log
=======
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
<<<<<<< Upstream, based on a77f10cc0e37be9e835be057f8b96616e7ecd757
      run: ./build-and-test.sh
<<<<<<< Upstream, based on a77f10cc0e37be9e835be057f8b96616e7ecd757
>>>>>>> fea30e40b (Create build-and-test.yml)
=======
=======
      run: mvn --batch-mode -U -T 1C clean install
    - name: Run headless test
      uses: coactions/setup-xvfb@v1.0.1
      with:
        run: mvn --batch-mode -f tests/org.eclipse.epsilon.test verify -P plugged
    - name: Full Test Suite
      run: >
        bash plugins/org.eclipse.epsilon.eunit.cmp.emf/download-emf-compare.sh &&
        mvn --batch-mode -f tests/org.eclipse.epsilon.test surefire:test -P unit
    - name: Standalone Maven artifacts
      run: mvn --batch-mode -T 1C -f pom-plain.xml compile
>>>>>>> 1271285 Update build-and-test.yml
    - name: Upload Log
      uses: actions/upload-artifact@v3.1.3
      if: always()
      with:
        name: metadataLog
        path: tests/org.eclipse.epsilon.test/target/work/data/.metadata/.log
>>>>>>> 9985b6f Update build-and-test.yml
